.ticketDetailsPage {
    padding: 75px 200px;
    height: 100vh;
}

.ticketDetailsPage:after {
    content: "";
    display: table;
    clear: both;
}

.leftSide {
    float: left;
    width: 65%;
    height: 100%;
    margin: 0 10px 0 10px;
}

.rightSide {
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: #efefef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topLevelDetails {
    display: flex;
    line-height: 0;
    justify-content: space-between;
}

.ticketDetails {
    margin-top: 20px;
    height: 90%;
}

.ticketDetails textarea {
    width: 100%;
    height: 20%;
}

.customerDetails,
.technicianDetails,
.resolution {
    height: 33%;
    max-height: 225px;
    background-color: lightgrey;
    margin: 0 40px;
    border-radius: 15px;
}

.badge {
    background-color: #efefef;
    color: white;
    padding: 8px 8px;
    text-align: center;
    border-radius: 15px;
    margin: 0 4px;
}

.badge select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

@media screen and (max-width: 1275px) {
    .ticketDetailsPage {
        padding: 75px 100px;
        height: 100vh;
        display: grid;
    }

    .rightSide,
    .leftSide {
        width: 100%;
    }

    .customerDetails,
    .technicianDetails,
    .resolution {
        margin: 20px;
        height: 150px;
    }
}

@media screen and (max-width: 875px) {
    .topLevelDetails {
        display: grid;
    }

    .topLevelDetails h2,
    .topLevelDetails .statusPriority {
        margin: 50px 0;
    }
}

@media screen and (max-width: 700px) {
    .ticketDetailsPage {
        padding: 75px 0px;
    }
}

@media screen and (min-width: 1275px) and (max-width: 1600px) {

    .customerDetails,
    .technicianDetails,
    .resolution {
        margin: 0 20px;
    }
}