.ticketListPage {
    padding: 0 150px;
}

.ticketList {
    display: grid;
    grid-template-columns: auto auto auto;
}

.ticket {
    background-color: #efefef;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    min-width: 375px;
    box-shadow: var(--box-shadow)
}