.techniciansListPage {
    height: 100vh;
    margin: 0 300px;
}

.techniciansListPage button {
    border: none;
    padding: 10px;
    width: 8rem;
    cursor: pointer;
    border-radius: 10px;
}

.openModalBtn {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
}

.openModalBtn:hover {
    background-color: #efefef;
    color: black;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table>thead,
.tr {
    padding: 8px;
}

.tr {
    width: 100%;
    background-color: #e1e1e1;
    text-align: center;
    margin: 5px;
}

.table>thead {
    width: 25%;
}