.navbar {
    display: flex;
    justify-content: space-between;

    background-color: #efefef;
}

.navbarLeft,
.navbarMiddle {
    margin: 10px;
}

.navbarItems {
    display: flex;
}
.navbarItem {
    margin: 10px;
}